*,
*::before,
*::after {
    all: unset

}

dt,
dd,
h1,
h2,
h3,
ul {
    display: block;
}

title {
    display: none;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

li {
    display: list-item;
}