
.mode-toggle-panel:hover,
.mode-toggle-panel:focus-within,
.control-button:hover,
.control-button:focus {
    opacity: 100%;
}

.line-add-button:hover,
.line-add-button:focus {
    opacity: 100%;
}

.indentation-add-button:hover,
.indentation-add-button:focus {
    opacity: 100%;
}

.indentation-button:hover,
.indentation-button:focus {
    opacity: 100%;
}

.command-input:hover,
.command-input:focus {
    background: #CCC;
    color: #333;
}

.command-input.invalid:hover,
.command-input.invalid:focus {
    background: #FCC;
}

.arg-input:hover,
.arg-input:focus {
    background: #CCC;
    color: #333;
}

.arg-input.invalid:hover,
.arg-input.invalid:focus {
    background: #FCC;
}

.comment-input:hover,
.comment-input:focus {
    opacity: 70%;
}

.line-remove-button:hover,
.line-remove-button:focus {
    opacity: 100%;
}

/* read */

/*
.command-list:not(.edit) {
    pointer-events: none;
}
*/